.main-header {
  align-items: center;
  background-color: white;
  display: flex;
  height: 11.3rem;
  justify-content: end;
  width: 100vw;
}

.user-pic {
  border-radius: 100%;
  height: 3.7rem;
  margin-right: 10px;
  width: 3.7rem;
}

.header-user-info {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 20rem;
}

.points-div {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 10rem;
}

.star {
  height: 2.9rem;
  margin-right: 10px;
  width: 2.9rem;
}
